- var pageTitle = 'Online TV'

doctype html
html(lang="en")
  head
    title= pageTitle
    style 
      include styles/normalize.css
      include styles/style.css
  body
    include modules/header
    
    .banner
      .container

    include modules/footer
    